.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.image-slider img{
    margin: 0 10px; /* Agrega margen horizontal entre las imágenes */
    width: 800px;
    height: 800px;
}

.img{
    margin: 0 10px; /* Agrega margen horizontal entre las imágenes */
    width: 400px;
    height: 400px;
}

.button-slider {
    position:absolute;
    background-color: black;
    border: none;
    font-size: 60px;
    color: white;
}

#btn-anterior {
    left: 0;
}

#btn-siguiente {
    right: 0;
}

.button-slider:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.gallery-container {
    display: none;
  }
  
  .gallery-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .gallery-row {
    max-width: 100%;
    height: auto;
    margin: 5px;
  }